@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter';
    font-weight: 500;
    background-color: transparent;
}
div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}
p {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.5;
}
.container {
    padding: 0;
    margin: 0;
}
.v-footer {
    display: none !important;
  }
  @media (max-width: 1130px) {

}
@media (min-width: 501px) {

}
@media (max-width: 500px) {
    body {
        overflow: hidden;
    }
}